{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Jobs</h1>

                <table class="table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Start Date</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for job in jobs %}
                        <tr>
                            <td><a href="{{ path('job_show', { 'id': job.id }) }}">{{ job.id }}</a></td>
                            <td>{{ job.name }}</td>
                            <td>{% if job.startDate %}{{ job.startDate|date('Y-m-d') }}{% endif %}</td>
                            <td>{{ job.description }}</td>
                            <td>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a href="{{ path('job_show', { 'id': job.id }) }}"><span
                                                    class="glyphicon glyphicon-search"/></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="{{ path('job_edit', { 'id': job.id }) }}"><span
                                                    class="glyphicon glyphicon-pencil"></span></a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <ul class="list-inline">
                    <li class="lsit-inline-item">
                        <form action="{{ path('job_new') }}">
                            <button type="submit" class="btn btn-primary">New Job</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
